# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output folders
.next/
dist/
out/
build/
coverage/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# dotenv
.env
.env.*

# IDEs
.vscode/
.idea/

# Electron specific
*.asar
electron-builder-cache/
**/Release/
**/Debug/
*.db
